{% extends base %}
{% block style %}<link href="/static/stylesheets/plugins/datatables/datatables.css" rel="stylesheet" type="text/css" media="all" />{% endblock %}
{% block section %}

        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='fa fa-table'></i>
                      <span>Plaintes enregistrées</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index-2.html'>
                            <i class='fa fa-bar-chart-o'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='fa fa-angle-right'></i>
                        </li>
                        <li class='active'>Liste des dossiers de plainte enregistrés</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            <div class='row'>
                <div class='col-sm-12'>
                  <div class='box bordered-box fb-border' style='margin-bottom:0;'>
                    <div class='box-header blue-background'>
                      <div class='title'>Résultat de la recherche</div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='fa fa-times'></i>
                        </a>
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content box-no-padding'>
                      <div class='responsive-table'>
                        <div class='scrollable-area'>
                          <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                            <thead>
                              <tr>
                                <th style="width:15%" class="text-center">Référence</th>
                                <th style="width:20%" class="text-center">Identité du plaignant</th>
                                <th style="width:15%" class="text-center">Catégorie</th>
                                <th style="width:8%"  class="text-center">Opérateur</th>
                                <th style="width:10%" class="text-center">Canal</th>
                                <th style="width:30%" class="text-center">Objet de la plainte</th>
                                <th style="width:17%" class="text-center">Actions</th>

                              </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                              <tr>

                                <td class="text-center">{{ object.reference }}</td>
                                <td class="text-center">{{ object.nom }} {{ object.prenoms }}</td>
                                <td class="text-center">{{ object.categorie.categorie }}</td>
                                <td class="text-center">{{ object.operateur.operateur }}</td>
                                <td class="text-center">{{ object.canal.canal }}</td>
                                <td class="text-center">{{ object.objet }}</td>

                                <td>
                                  <div class='text-right'>
                                    <a data-toggle="modal" href='#{{ object.id }}'>
                                      <i class='fa fa-edit fa-2x'> | </i>
                                    </a>
                                    <a  href='#'>
                                      <i style="color: #3a6d1b" class='fa fa-eye fa-2x '></i>
                                    </a>
                                      <!-- Modal -->

                                        <div align="center" class="modal fade" id="{{ object.id }}" tabindex="-1" role="dialog" aria-hidden="true" >
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-original-title="" title="">×</button>
                                                  <h4 class="modal-title">Affectation d'un dossier de plainte</h4>
                                                </div>
                                                <form method="post" enctype="multipart/form-data" action="{% url 'affecter' object.id%}">
                                                  <div class="modal-body">
                                                    <p>Veuiller sélectionner la référence du dossier</p>

                                                      <table class="table table-bordered table-striped text-center">
                                                        <thead>
                                                        <tr>

                                                                  <th  class="text-center">Référence</th>
                                                                  <th  class="text-center">Nom de plaignant</th>
                                                                  <th  class="text-center">Prénoms</th>
                                                                  <th  class="text-center">Catégorie</th>
                                                                  <th  class="text-center">Opérateur</th>
                                                                  <th  class="text-center">Canal</th>
                                                                </tr>
                                                        </thead>
                                                            <tbody>

                                                                <tr>
                                                                  <td>
                                                                    <span class="name"><a href="">{{ object.reference }}</a></span>
                                                                  </td>
                                                                  <td class="hidden-phone">{{ object.nom }}</td>
                                                                  <td class="hidden-phone">{{ object.prenoms }}</td>
                                                                  <td class="hidden-phone">{{ object.categorie.categorie }}</td>
                                                                  <td class="hidden-phone">{{ object.operateur.operateur}}</td>
                                                                  <td class="hidden-phone">{{ object.canal.canal }}</td>

                                                                        </tr>

                                                                        </tbody>

                                                                        </table>

                                                        {% csrf_token %}

                                    <label class='control-label' for='selectCanal'>Choisissez un attributaire</label>
                                  <div class='controls'>

                                    <select name="nom_prenoms" class="form-control ">
                                    {% for util in utilisateur %}
                                        <option> {{ util.nom_prenoms }} </option>
                                        {% endfor %}
                                    </select>

                                    </div>



                                                </div>
                                                <div class="modal-footer">

                <button type="submit" class="btn btn-primary" data-original-title="" title="">Affecter</button>
                                                  <a type="button" class="btn btn-default" href="">Annuler</a>
                                                </div>
                                                  <!--<button type="submit" class="btn btn-primary" data-original-title="" title="">Valider</button>-->


                                                    </form>
                                              </div>
                                            </div>

                                        </div>
                                          <!-- Modal Small End -->
                                  </div>
                              </tr>


                            {% endfor %}
                            </tbody>

                            <tfoot>
                              <tr>
                                <th>Référence</th>
                                <th>Identité du plaignant</th>
                                <th>Catégorie</th>
                                <th>Opérateur</th>
                                <th>Canal</th>
                                <th colspan='2'>Objet de la plainte</th>
                              </tr>
                            </tfoot>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



{% endblock %}